<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEV_HOME" value="logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </layout>
    </appender>
    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!-- Send logs to both console and file audit -->
    <logger name="logging.level.com.appsdeveloperblog" level="debug" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework.boot.autoconfigure" level="INFO" />
    <logger name="org.springframework.boot.autoconfigure.condition" level="INFO" />
<root level="info">
    <appender-ref ref="STDOUT" />
</root>
</configuration>
<!--<configuration>-->

<!--    &lt;!&ndash; Console Appender &ndash;&gt;-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; File Audit Appender &ndash;&gt;-->
<!--    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/debug.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>logs/archived/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        &lt;!&ndash; Add any additional configurations for your appender &ndash;&gt;-->
<!--    </appender>-->

<!--    &lt;!&ndash; File Error Appender &ndash;&gt;-->
<!--    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/error.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>logs/archived/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        &lt;!&ndash; Add any additional configurations for your appender &ndash;&gt;-->
<!--    </appender>-->

<!--    &lt;!&ndash; Logger Configuration &ndash;&gt;-->
<!--    <logger name="logging.level.com.appsdeveloperblog" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="FILE-AUDIT" />-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->

<!--    &lt;!&ndash; Root Logger Configuration &ndash;&gt;-->
<!--    <root level="ERROR">-->
<!--        <appender-ref ref="FILE-ERROR" />-->
<!--    </root>-->

<!--</configuration>-->